<!DOCTYPE html>
{%load  static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Main template</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    </head>
    <body>
        <!-- <h1>this is my template</h1> -->
        <h1>{{insert_me}}</h1>
        <h1>This is the image of original quitarist  hello named django</h1>
        <img src="{% static 'images/originalDjango.jpeg' %}" alt="Original Django Image" width='200vh' height='200vh'/>
    </body>
 </html>      